name: Automatically Create Pull Request

on:
  push:
    branches-ignore:
      - main
      - master
permissions:
  pull-requests: write 
jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Create Pull Request
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: "master"
          pr_title: "feat: Changes from new branch"
          pr_body: "PR Description : \n\nContributes to issue : #"
          pr_draft: false
          github_token: ${{ secrets.GITHUB_TOKEN }}
